{{ define "panels" }}

<body>
    <div class="container">
        <br>
        <div class="row">
        {{ range .Links.Panels }}
            <h5>Edit {{ .Name }}</h5>
            <table class="table table-striped">
                <tr>
                    <th style="width: 20%;">Name</th>
                    <th style="width: 20%;">Address</th>
                    <th style="width: 10%;">Port</th>
                    <th style="width: 100%;">Icon URL</th>
                    <th></th>
                </tr>
            <form action="/edit_save/" method="post">
                <input name="panel" type="hidden" value="{{ .Name }}">
                {{ range .Hosts }}
                <tr>
                    <td><input name="name" type="text" class="form-control" value="{{ .Name }}"></td>
                    <td><input name="addr" type="text" class="form-control" value="{{ .Addr }}"></td>
                    <td><input name="port" type="text" class="form-control" value="{{ .Port }}"></td>
                    <td><input name="icon" type="text" class="form-control" value="{{ .Icon }}"></td>
                    <td>
                        <button type="submit" class="btn btn-primary"><i class="bi bi-check2"></i></button>
                    </td>
                </tr>
                {{ end }}
            </form>
            </table>
            <a href="/edit?panel={{ .Name }}&new=host">
                <button type="submit" class="btn btn-primary">New</button>
            </a>
        {{ end }}
        </div>
    </div>

{{ template "footer" }}
{{ end }}