{{ define "tabs" }}

<body>
    <div class="container">
        <br>
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <th style="width: 1em;">Del</th>
                    <th style="width: 3em;">ID</th>
                    <th style="width: 1em;">Up</th>
                    <th style="width: 12em;">Name</th>
                    <th>Panels</th>
                    <th style="width: 1em;"></th>
                </thead>
                {{ range $id, $tab := .Links.Tabs }}
                <tr>
                    <td><a href="/tabs/?del={{ $id }}">
                        <button type="submit" class="btn btn-outline-danger"><i class="bi bi-x-lg"></i></button>
                    </a></td>
                    <td>{{ $id }}</td>
                    <td>{{ if eq $id 0 }}
                        <button type="submit" class="btn btn-outline-warning" disabled><i class="bi bi-arrow-up"></i></button>
                        {{ else }}
                        <a href="/tabs/?up={{ $id }}">
                            <button type="submit" class="btn btn-outline-warning"><i class="bi bi-arrow-up"></i></button>
                        </a>
                        {{ end }}
                    </td>
                <form action="/tabs/" method="post">
                    <input name="id" type="hidden" value="{{ $id }}">
                    <td><input name="name" type="text" class="form-control" value="{{ .Name }}"></td>
                    <td>
                    {{ range $key, $val := $.Links.Panels }}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="{{ $key }}" name="panels">{{ .Name }} ({{ $key }})
                        </div>
                    {{ end }}
                    </td>
                    <td><button type="submit" class="btn btn-outline-success"><i class="bi bi-check2"></i></button></td>
                </form>
                </tr>
                {{ end }}
                <tr>
                <form action="/tabs/" method="post">
                    <td colspan="3">New:</td>
                    <td><input name="name" type="text" class="form-control"></td>
                    <td>{{ range $key, $val := .Links.Panels }}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="{{ $key }}" name="panels">{{ .Name }} ({{ $key }})
                        </div>
                        {{ end }}</td>
                    <td><button type="submit" class="btn btn-outline-success"><i class="bi bi-check2"></i></button></td>
                    </form>
                </tr>
            </table>
        </div>
    </div>

{{ template "footer" }}
{{ end }}